#beast {
    border: 1px solid gray;
    width: 75%;
    margin: auto;
    margin-top: 3px;
}

#suivantbeast,
#precedentbeast {
    background-color: gray;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbeast {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchb {
    margin-bottom: 5px;
    background-color: white;
    color: black;
    margin: auto;
    margin-right: 191px;
    display: flex;
    justify-content: end;
    align-items: end;
}

#Imgbeast {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 275px;
    height: 415px;
}

#Fichebeast{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
}

.details{
    display: grid;
    grid-column: 2/5;
}