#perso {
    border: 1px solid gray;
}

#suivant,
#precedent {
    background-color: gray;
    height: 20px;
}

.navPerso {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: white;
    color: black;
    margin: auto;
    margin-right: 1px;
    display: flex;
    justify-content: end;
    align-items: end;
}

#ImgPerso {
    margin-left: 5px;
    margin-right: 5px;
    width: 275px;
    height: 415px;
}

#FichePerso{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
}

.details{
    display: grid;
    grid-column: 2/5;
}